@font-face 
{
    font-family: "heading";
    src: url(font/Lobster/Lobster-Regular.ttf);
}
html
{
    height: 100%;
}
body{
    
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 100%;
}
#content
{
    width: 49%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;

}
#main
{   
    width: 49%;
    height: 100%;
    display: inline-block;

    box-sizing: border-box;
    padding:20px 15%;
    
}
#welcome
{
    font-family: "heading";
    font-size:100px;
    padding:0 50px;


}
#welcome-text
{
    font-family: "heading";
    font-size:50px;
    padding: 0 100px;
 
    margin-top: -100px;
}
#logo
{
    scale: 0.8;
}
#websitename
{
    margin-top: 200px;

    font-family: "heading";
    font-size: 40px;
}
.details
{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:25px;
}


